body{
    margin: 0;
    padding: 0;
    background: url('image/bg3.jpg') no-repeat;
    background-size: cover;
}

.kotak{
    width: 450px;
    border-radius: 25%;
    background: rgba(0, 0, 0, 0.3);
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: white;
    font-family: 'Karla', sans-serif;
}
.kotak-desc{
    width: 900px;
    background: rgba(0, 0, 0, 0.3);
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: white;
    font-family: 'Karla', sans-serif;
}
.kotak-pp{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}
.kotak h1{
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100;
}
.kotak h5{
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 100;
}
.kotak p{
    text-align: justify;
}
ul{
    margin: 0;
    padding: 0;

}
.kotak li{
    display: inline-block;
    margin: 6px;
    list-style: none;
}
.kotak li a{
    color: white;
    text-decoration: none;
    font-size: 60px;
    transition: all ease-in-out 250ms;
}
.kotak li a:hover{
    color: #b9b9b9;
}

.navbar{
    position: fixed;
    height: 50px;
    overflow: hidden;
    top: 0;
    display: flex;
    align-items: center;
    font-family: 'Karla', sans-serif;
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    
}
.home{
    margin-left: 30px;
    align-items: center;
    font-size: 30px;
    color: white;
}
.fa-igloo{
    color: white;
}
.menu{
    position: absolute;
    right: 20px;
}
.menu a{
    color: white;
    text-decoration: none;
    font-weight: 700;
    margin-left: 20px;
    transition: color 0.3s;
    text-transform: uppercase;
    font-family: 'Karla', sans-serif;
}
.menu a:hover{
    color: #b9b9b9;
}
.btn{
    display: none;
    position: absolute;
    right: 20px;

}
.btn:hover > span{
    background: #b9b9b9;
}
.btn span{
    display: block;
    margin: 6px;
    width: 40px;
    height: 3px;
    background: white;
  }

@media only screen and (max-width : 600px){
    .navbar{
        overflow: visible;
    }
    .menu{
        width: 100%;
        right: 0;
        top: 50px;
        background: rgba(0, 0, 0, 0.3);
        overflow: hidden;
        max-height: 0;
    }
    .menu a{
        display: block;
        text-align: center;
        padding: 10px;
        margin: 0;
    }
    .btn{
        display: block;
        cursor: pointer;
    }
    .show{
        max-height: 500px;
    }
}
